.preloader_container {
  background: $background;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: 0.4s all ease;
  opacity: 0;

  &.active {
    opacity: 1;
    z-index: 1000;
  }

  svg{
    width: 150px;
    height: 150px;
    margin: 20px;
    fill: $primary_100;
    display:inline-block;

    .path-1 {
      fill: $selection_40;
    }
    .path-2 {
      fill: $selection_100;
    }
    .path-3 {
      fill: $selection_75;
    }
  }
}