.block-center-container {
  //border: 1px solid $font-color-1;
  //position: absolute;
  //min-height: 100%;
  //margin: 0 auto;
  //left: 0;
  //right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  .block-center {
    border: 2px solid;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffffff;
  }

  .row-delimiter {
    margin: 10px 0;
  }

  .select-party {
    margin: 10px 0;
  }
}