@import "../../../../css/sass_components";

.tabs {
  ul {
    margin: 0 0 10px 0;

    .nav-item {
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 5px 5px 0 0;

      @media (max-width: 575px) {
        padding: 8px 10px;
      }

      &.disabled {
        display: none;
      }

      &.active {
        border: 1px solid;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #ffffff;

        span {
          color: $selection_100;
          border-color: #CED4DA #CED4DA $background;
          display: unset;

          @media (max-width: 575px) {
            display: none;
          }
        }

        svg {
          fill: $selection_100;

          @media (max-width: 575px) {
            padding: 0;
          }
        }
      }

      span {
        font-size: 16px;
        font-weight: bold;
        outline: none;
        color: $primary_100;
        display: none;
      }

      svg {
        height: 20px;
        fill: $primary_100;
        padding-right: 5px;
      }
    }
  }
}