@import '../../../../../css/sass_components';

.business, .technical {
  &>div {
    margin: auto;
  }

  p {
    text-align: center;
    font-weight: bold;
  }

  .title {
    @include font-45;
    letter-spacing: -1px;
  }

  form {
    display: flex;

    .form-group {
      margin-bottom: 10px;
    }

    textarea {
      height: 141px;
    }
  }

  .description {
    @include font-25;
    font-weight: normal;
    margin: 10px 0 30px 0;
  }
}