@import "../../../../../../../css/sass_components";

@mixin date-color($name) {
  &.type-#{$name} {
    font-size: #{$name}px;
  }
}

.block-time {
  display: flex;
  flex-direction: column;
  border: 2px solid $primary_100;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  height: 88px;
  padding: 0 5px;
  background: $primary_100;
  color: $background;

  .time {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .delimiter {
    border-bottom: 1px solid $background;
    width: 100%;
  }

  @include date-color(1);
}