{% extends 'base.html.twig' %}

{% block metablock %}
    <title>SCHEDULE | Розклад занять в університеті для студентів та викладачів.</title>
    <meta name="keywords" content="розклад, занять, пар, університет, студентів, викладачів, груп, платформа">
    <meta name="description" content="Платформа для зручного користування розкладом у вашому навчальному закладі.">
{% endblock %}

{% block body %}
    <div>
        <p>Comfortable schedule is always at hand</p>
        <p>SCHEDULE - platform for universities and students</p>
        <p>Now to plan, search and manage - easy</p>

        <p>Удобное расписание всегда рядом</p>
        <p>SCHEDULE - платформа для университетов и студентов</p>
        <p>Теперь планировать, искать и управлять - просто</p>

        <p>Зручний розклад завжди поруч</p>
        <p>SCHEDULE - платформа для університетів і студентів</p>
        <p>Тепер планувати, шукати та керувати - просто</p>
    </div>
{% endblock %}