@import '../../../../../css/sass_components';

.search {
  @include flex-jk_center-fd_column;
  align-items: center;

  .block-search {
    @include block-border;

    .block-name {
      @include block-name;
    }

    nav {
      .nav-item {
        font-weight: bold;
        border-color: #CED4DA, #CED4DA, $background;
        padding: 10px 13px;

        &.active {
          color: $selection_100;
        }
      }
    }

    .enter-group {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .row-delimiter {
      margin: 20px 0;
    }

    .select {
      margin-bottom: 10px;
    }
  }

}
