{% extends 'base.html.twig' %}

{% block metablock %}
    <title>SCHEDULE | Розклад занять в університеті для студентів та викладачів.</title>
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
{% endblock %}