@import '../../../../../css/sass_components';

.profile {
  .block-center {
    margin: 50px auto 0 auto;

    .block {
      margin-top: 20px;
      @include font-16;

      .block-title {
        @include font-20;
        color: $primary_75;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 5px;
        display: flex;
        span {
          width: 90px;
        }
      }
      input {
        margin-top: 10px;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      .btn {
        margin: 0;
        width: 100px;
        &:first-child {
          margin-right: 15px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .block_template_container {
    display: flex;
    flex-wrap: wrap;

    .block_template {
      .title {
        @include font-22;
        color: $primary_75;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .element {
        cursor: pointer;
        &:hover {
          color: $selection_75;
        }
      }

    }
    .block_template {
      width: 120px;
      margin-top: 20px;
      margin-right: 20px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }

  }

}
