$footer-height: 24px;
$header-height: 115px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  @include main-color;
  @include link-style;
  @include font-style;

  .div-particles {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
  }

  p, label {
    margin: 0;
  }

  #main-block {
    height: 100%;
  }

  header {
    height: $header-height;
  }

  main {
    display: flex;
    min-height: calc(100% - #{$footer-height} - #{$header-height});
    position: relative;
  }

  footer {
    height: $footer-height;
  }
}