$footer-height: 80px;
$header-height: 80px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Neucha', sans-serif;
  font-size: 18px;

  .div-particles {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
  }

  * {
    color: $main-color;
    border-color: $main-color;
  }

  a {
    color: #000000;
    &:hover {
      color: #000000;
    }
  }

  p {
    margin: 0;
  }

  #main-block {
    height: 100%;
  }

  header {
    height: $header-height;
  }


  main {
    display: flex;
    min-height: calc(100% - #{$footer-height} - #{$header-height});
    position: relative;
  }

  footer {
    height: $footer-height;
  }
}