.not-found {
  display: flex;
  flex-direction: column;

  @include font-30;
  font-weight: bold;
  text-align: center;
  align-items: center;

  button {
    width: 160px;
    margin-top: 20px;
  }
}