{% extends 'base.html.twig' %}

{% block metablock %}
    <title>SCHEDULE | Контакти. Співробітництво. Стати партнером. Надіслати повідомлення.</title>
    <meta name="keywords" content="контакти, співробітництво, повідомлення, технічні, партнерство">
    <meta name="description" content="Напиши нам з приводу співробітництва або по технічним питанням.">
{% endblock %}

{% block body %}
    <div style="opacity: 0">
        <p>For business matters</p>
        <p>For technical issues</p>

        <p>По деловым вопросам</p>
        <p>По техническим вопросам</p>

        <p>По діловим питанням</p>
        <p>По технічним питанням</p>
    </div>
{% endblock %}