@import "../../../../../css/sass_components";

.login {
  &>div {
    margin: auto;
  }

  .block-login {
    @include block-border;

    .block-name {
      @include block-name;
    }

    .form-group {
      margin-bottom: 10px;
    }
  }

  .block-additional {
    margin-top: 20px;
    font-size: 14px;

    span {
      cursor: pointer;
      color: $selection_100;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
