<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="main-block" >
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="/build/app.js"></script>
</div>
</body>
</html>
