.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .block-register {
    @include border-block;

    .block-name {
      @include block-name;
    }

    .form-group>input, .select {
      margin-top: 10px;

    }

    .form-group>input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .form-group>input[type=number] {
      -moz-appearance: textfield;
    }

    .btn {
      margin-top: 15px;
    }
  }
}