.reset-password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .block-reset {
    border: 2px solid $primary_100;
    padding: 15px;
    border-radius: 10px;
    background: $background;

    input {
      margin-bottom: 10px;
    }
  }
}