.reset-password-email-send {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
  }

  div {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    button.btn {
      width: 160px;
      margin: 0 15px;
    }
  }
}