@import '../../../../../css/sass_components';

.welcome {
  padding-top: 15px;
  padding-bottom: 50px;

  @media (max-width: 575px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &>div {
    margin: auto;
  }

  &>div>div {
    margin: 0 auto;
  }

  p {
    text-align: center;
  }

  .title {
    @include font-60;
    font-weight: bold;
    color: $selection_100;
    
    @media (max-width: 575px) {
      @include font-35;
    }
  }

  .description {
    @include font-25;
    @include flex-jk_center-fd_column;
    font-weight: bold;
    margin-top: 20px;

    @media (max-width: 575px) {
      @include font-20;
    }
  }

  .btn.btn-start {
    //width: 540px;
    height: 50px;
    letter-spacing: 0.4em;
    font-size: 30px;
    margin-top: 75px;

    @media (max-width: 575px) {
      margin-top: 40px;
      height: 40px;
      font-size: 20px;
    }
  }
}