.btn-type-1 {
  color: #ffffff;
  background: $btn-type-1-color;

  &:hover {
    color: #ffffff;
    background: $btn-type-1-hover-color;
  }

  &:disabled {
    opacity: 0.4;
    background: $btn-type-1-color;
    &:hover {
      background: $btn-type-1-color;
    }
  }
}

.btn-type-2 {
  color: #ffffff;
  background: $btn-type-2-color;

  &:hover {
    color: #ffffff;
    background: $btn-type-2-hover-color;
  }

  &:disabled {
    opacity: 0.7;
    background: $btn-type-2-color;
    &:hover {
      background: $btn-type-2-color;
    }
  }
}
