$font-color-1: #000000;
$font-hover-color-1: #FC6B34;

$main-color: #4A707A;
$main-hover-color: #F2930C;

$btn-type-1-color: #4a707a;
$btn-type-1-hover-color: #155169;

$btn-type-2-color: #FCA534;
$btn-type-2-hover-color: #FC6B34;
