$background: #ffffff;

$font-color-1: #000000;
$font-hover-color-1: #FC6B34;

$main-color: #4A707A;
$main-hover-color: #F2930C;

$btn-type-1-color: #4a707a;
$btn-type-1-hover-color: #155169;

$btn-type-2-color: #FCA534;
$btn-type-2-hover-color: #FC6B34;

$danger: #C47474;
$primary_100: #4A707A;
$primary_75: rgba($primary_100, .75);
$primary_60: rgba($primary_100, .60);
$primary_50: rgba($primary_100, .50);
$selection_100: #FCA534;
$selection_75: rgba($selection_100, .75);
$selection_60: rgba($selection_100, .60);
$selection_40: rgba($selection_100, .40);
$additional_type1_100: #565F85;
$additional_type1_75: rgba($additional_type1_100, .75);
$additional_type1_60: rgba($additional_type1_100, .60);
$additional_type1_50: rgba($additional_type1_100, .50);
$additional_type2_100: #569168;
$additional_type2_75: rgba($additional_type2_100, .75);
$additional_type2_60: rgba($additional_type2_100, .60);
$additional_type2_50: rgba($additional_type2_100, .50);
$additional_type3_100: #937D66;
$additional_type3_75: rgba($additional_type3_100, .75);
$additional_type3_60: rgba($additional_type3_100, .60);
$additional_type3_50: rgba($additional_type3_100, .50);