@import "../../../../../css/sass_components";

.reset-password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .block-reset {
    @include block-border;

    .block-name {
      @include block-name;
    }

    .btn {
      margin-top: 10px;
    }
  }
}
