@import "../../../../css/sass_components";

$transitionDuration: 0.2s;
$logoWidth: 86px;
$logoPadding: 5px;

.footer {
  transition: $transitionDuration all ease;
  margin-top: 50px;
  @include font-12;

  .container-block {
    display: flex;
    justify-content: center;
  }

  .mobile-bot_block {
    text-align: center;
    margin-top: 10px;
    display: none;

    p {
      margin-top: 5px;
    }

    @media (max-width: 575px) {
      display: block;
    }
  }

  .logo_block {
    padding: 0 $logoPadding;

    svg {
      width: $logoWidth;
      height: 58px;
      fill: $primary_100;

      @media (max-width: 575px) {
        width: 66px;
        height: 45px;
      }
    }
  }

  .text_block {
    display: flex;
    flex-direction: column;
    width: calc((100% - #{$logoWidth} - #{$logoPadding} - #{$logoPadding})/2);

    @media (max-width: 575px) {
      width: 107px
    }

    .top_block {
      display: flex;
      flex-direction: column-reverse;

      span {
        cursor: pointer;
        width: fit-content;
        &:hover {
          color: $selection_100;
        }
      }
    }

    &.right {
      .top_block {
        align-items: flex-end;
      }

      .lang {
        cursor: pointer;
        position: relative;
        background: $background;

        svg {
          position: relative;
          z-index: 20;
          background: $background;
          height: 16px;
          fill: $primary_100;
          transition: fill $transitionDuration ease;

          &.active {
            fill: $selection_100;
          }
        }
        &:hover svg {
          fill: $selection_100;
        }

        span {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          transition-duration: $transitionDuration;

          &.active_lang {
            color: $selection_100;
          }
        }
      }

      p {
        text-align: right;
      }


    }

    .top_block {
      min-height: 37px;
      padding-bottom: 5px;
      border-bottom: 2px solid $primary_100;

      @media (max-width: 575px) {
        min-height: 30px
      }
    }

    .bot_block {
      padding-top: 5px;

      @media (max-width: 575px) {
        display: none;
      }

      a:hover {
        color: $selection_100;
      }
    }
  }
}
